button {
	width: 8.75rem;
	height: 3.3125rem;
	border-radius: 1.65625rem;
	background: var(--Peach);
	/* //CHANGING VARIABLE COLOR */
	font: var(--font-H3);
	color: var(--Cream);
}

button:hover {
	opacity: 0.2031;
	/* background: #FFF; */
}

.button-classic {
	width: 8.75rem;
	height: 3.3125rem;
	border-radius: 1.65625rem;
	background: var(--Peach);
	/* //CHANGING VARIABLE COLOR */
	font: var(--font-H3);
	color: var(--Cream);
}

.button-settings-selection {
	height: 2.5rem;
	width: 2.5rem;
	border-radius: 50%;
	background-color: var(--Cyan);
}

.button-icon {
	width: 0.875rem;
	height: 0.875rem;
	background-color: inherit;
	opacity: 0.5;
	border: none;
}
