.tab-container {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 23.3125rem;
      height: 3.9375rem;
      border-radius: 1.9688rem;
      position: relative;
      background: var(--black-blue);
}

.timer-selector{
      width: 7.5rem;
      height: 3rem;
      border-radius: 1.656rem;
      position: absolute;
      left: 0;

      /* left: 7.56rem;
      left: 15.5rem; */
      z-index: 1;
      background: #F87070;
      transition: transform 2s ease;
      flex-shrink: 0;
}

.tab {
      position: relative;
      z-index: 10;
      font: var(--font-h4);
      color: var(--dust);
}

.timer-selector:hover{
      transform: translateX(7.56rem);
}


