/* stylelint-disable-next-line string-quotes */
.number-input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5rem;
  width: 8rem;
  margin-right: 0.875rem;
  position: relative;
}

label {
  padding-left: 0.15rem;
  font: var(--font-body2);
  /* stylelint-disable-next-line color-function-notation */
  color: rgba(var(--midnight-blue-opacity), 0.4);
}

.input {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input {
  width: 8rem;
  height: 3rem;
  padding-left: 1rem;
  border: none;
  border-radius: 0.625rem;
  background: #eff1fa;
  font: var(--font-h4);
  color: var(--midnight-blue);
}

.controls {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 0.875rem;
  height: 0.875rem;
  position: absolute;
  right: 1rem;
}


.controls .arrow-icon {
  /* stylelint-disable-next-line color-function-notation */
  color: rgba(var(--midnight-blue-opacity), 0.4);
  cursor: pointer;
  transition: color 0.1s ease; 
}

.controls .arrow-icon:hover {
  color: var(--midnight-blue);
}


.variant-style {
  flex-direction: column;
  align-items: flex-start;
}

.fa-solid{
  font-weight: 900;
  color: red;
  fill: red;
}

i {
  font-weight: 900;
  color: red;
  fill: red;
}