@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&family=Roboto+Slab:wght@100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
	/* color */
	--peach: #f87070;
	--peach-opacity: 248, 112, 112;
	--cyan: #70f3f8;
	--lilac: #d881f8;
	--dust: #d7e0ff;
	--midnight-blue: #1e213f;
	--midnight-blue-opacity: 30, 33, 63;
	--black-blue: #161932;
	--black-blue-opacity: 30, 33, 63;
	--cream: #fff;
	--grey: #eff1fa;

	/* fonts  "Kumbh Sans" "Roboto Slab" "Space Mono"; */

	/* font: [font-weight] [font-size]/[line-height] [font-family]; */
	--font-h1: 700 6.25rem/7.5rem "Kumbh Sans";
	--font-h2: 700 1.75rem/2.125rem "Kumbh Sans";
	--font-h3: 700 1rem "Kumbh Sans";
	--font-h4: 700 0.8725rem "Kumbh Sans";
	--font-body1: 700 0.8125rem "Kumbh Sans";
	--font-body2: 700 0.75rem/0.875rem "Kumbh Sans";
}

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

#root {
	width: 100vw;
	height: 100vh;
	margin: 0 auto;
	text-align: center;
	max-width: 1280px;
}

.main {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	height: 100vh;
}

h1.title {
	font-size: 2rem;
	font-weight: 700;
	line-height: normal;
	text-align: center;
	color: var(--dust);
	font-family: "Kumbh Sans", sans-serif;
	font-style: normal;
}

.tab-container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 23.3125rem;
	height: 3.9375rem;
	border-radius: 1.9688rem;
	background: var(--black-blue);
}

.timer-selector{
	width: 7.5rem;
	height: 3rem;
	border-radius: 1.656rem;
	position: absolute;
	left: 0;

	/* left: 7.56rem;
      left: 15.5rem; */
	z-index: 1;
	background: var(--color-theme);
	transition: transform 2s ease;
	flex-shrink: 0;
}

.tab {
	position: relative;
	z-index: 10;
	font: var(--font-h4);
	color: var(--dust);
	font-family: var(--font-theme);
}

.timer-selector:hover{
	transform: translateX(7.56rem);
}

/* .progress-container {
} */

.progress {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 25.625rem;
	height: 25.625rem;
	border-radius: 25.625rem;
	background: linear-gradient(315deg, #2e325a 0%, #0e112a 100%);
	box-shadow: -50px -50px 100px 0 #272c5a, 50px 50px 100px 0 #121530;
	font: var(--font-h1);
	color: var(--dust);
	font-family: var(--font-theme);

}
